# =========================
# Python
# =========================
chatbot-api/.venv/
chatbot-api/__pycache__/
chatbot-api/**/*.pyc
chatbot-api/*.db

# Chroma Vector Database
chatbot-api/vector_db/

# Environment variables
chatbot-api/.env

# =========================
# React / Vite
# =========================
chatbot-ui/node_modules/
chatbot-ui/dist/

# Logs
*.log
npm-debug.log*

# macOS
.DS_Store

# VS Code
.vscode/